{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
<style>
p {
    font-size: 19px;
}

ul {
    list-style: none;
    font-size: 19px;
    margin-left: 0;
    padding-left: 0;
}

    li {
        display: block;
        margin-top: 20px;
        padding-left: 15px;
    }

</style>
{% endblock %}

{% block title %}
    🚀 Инвайт на 45 дней в Polemica Community
{% endblock %}

{% block body %}
    <p>
        👋 Привет!
    </p>

    <p>
        Ты очень классный человечек, поэтому мы приглашаем тебя в Polemica Community!
    </p>

    <p>
        Войти можно, используя свою почту: <strong>{{ to_user.email }}</strong>
    </p>

    <p>
        Вот волшебная кнопка 👇
    </p>

    <p>
        <a href="{{ settings.APP_HOST }}{% url "login" %}?email={{ to_user.email }}" class="button">Войти в Коммьюнити</a>
    </p>

    <p>
        Если вы не понимаете что происходит и зачем вам какое-то Коммьюнити — удалите это сообщение, выпейте чаю, всё будет хорошо.
    </p>

    <br><br><br>
{% endblock %}

{% block unsubscribe %}{% endblock %}
