<!DOCTYPE html>
{% load static %}
{% load text_filters %}
{% load render_bundle from webpack_loader %}
<html lang="ru" theme="dark">
<head>
    <title>{% block title %}Polemica Community{% endblock %}</title>
    {% block fonts %}
        {% include "common/fonts.html" %}
    {% endblock %}
    {% block meta %}
        {% include "common/meta.html" %}
    {% endblock %}
    {% block og_tags %}
        {% include "common/og.html" %}
    {% endblock %}
    {% include "common/favicon.html" %}
    {% render_bundle "main" "css" %}
</head>
<body>

{% block body %}
    <main class="landing">
        <div class="landing-block landing-block-limited">
            <img src="{% static "images/earth.png" %}" alt="">
            <div class="landing-title">
                <h2>Polemica <br> Community</h2>
                <p>Неанонимный клуб по интересам.</p>
                 <p><a href="{% url "docs" "about" %}" target="_blank">Текст</a> про нас</p>
                <a href="{% url "login" %}" class="button button-black">Войти</a>
            </div>
        </div>

        <div class="landing-block landing-block-narrow" id="join">
            <div>
                <h2 class="landing-block-title">Как вступить?</h2>

                <img src="{% static "images/landing/dolor2.png" %}" alt="$1" class="landing-dolor">

                <p>
                    Сейчас мы настраиваем платежную систему и пока можно <strong>вступить бесплатно</strong> 🙂 <br>

                    А вообще членство в Коммьюнити будет платное — это позволит нам самоокупаться, спонсировать движухи
                    и оставаться независимыми от инвесторов и рекламодателей.
                </p>

                <p>
                    Мы не пускаем анонимов. Вам придется заполнить профиль и рассказать о себе.
                </p>

                <br>

                <p>
                    <a href="{% url "login" %}" class="button button-black button-big">Вступить в Коммьюнити</a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="footer-left" style="text-align: center; font-size: 130%;">
            &copy; <a href="https://polemicagame.com" target="_blank">Polemica</a> {% now "Y" %}
            &nbsp;&nbsp;&nbsp;&infin;&nbsp;&nbsp;&nbsp;
            <a href="{% url "docs" "contact" %}">Связаться с нами</a><br><br>
        </div>
    </footer>
{% endblock %}

{% include "common/js.html" %}
{% block js %}{% endblock %}
</body>
</html>
